/* .main-custom-navbar {
  background: transparent;
  transition: background 0.3s ease-in-out;
}

.main-custom-navbar.open {
  background: white; 
  color: #000000;
}

.logo {
  transition: opacity 0.3s ease-in-out;
}

.logo.hide {
  opacity: 0; 
}

.navbar-nav {
  transition: transform 0.3s ease-in-out;
}

.main-custom-navbar.open .navbar-nav {
  transform: translateY(0);
  text-align: center;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
} */

/* Apply a basic reset to all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset for all headings and paragraphs */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  color: inherit;
}

/* src/components/NavbarHeader.css */

/* Transparent navbar */
.navbar-header {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-header .navbar-brand,
.navbar-header .nav-link {
  /* color: white !important; */
}

.navbar-header.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  /* Solid background on scroll or other pages */
  transition: background-color 0.3s ease;
}

/* src/components/NavbarHeader.css */
/* NavbarHeader.css */
.navbar-header {
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.navbar-header.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  /* Dark background on scroll */
}

.navbar-gaping-custom .nav-link {
  text-transform: uppercase;
}

.navbar-gaping-custom {
  padding: 0rem 1rem;
  gap: 1.52rem;
}

.navbar-bottom-line {
  margin-right: -3rem;
  /* border: 1px solid; */

  /* color: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%); */
  color: white;
  /* background-color: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%); */
}

/* src/components/HeroSection.css */

/* Full hero section with background image */
.hero-section {
  /* background-image: url('https://wallpapers.com/images/hd/horizon-full-screen-hd-desktop-nsw7v8luhapdp6gs.jpg'); */
  background-image: url("../img/View\ of\ 3d\ gavel\ for\ lawyer's\ day.webp");
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  /* Full screen height */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #200f0099;
  z-index: 1;
}

.hero-section * {
  position: relative;
  z-index: 2;
  /* Ensures the content is above the overlay */
}

.hero-content-home {
  max-width: 900px !important;
  width: 100% !important;
}

.hero-content {
  max-width: 950px;
  /* margin-top: auto; */
  padding-top: 100px;
}

/* .hero-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
} */
.hero-section-home h1 {
  font-family: Biryani;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.hero-section-home p {
  font-family: Biryani;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 0rem 5rem;
}

.hero-button {
  padding: 10px 20px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.hero-button:hover {
  background-color: white;
  color: black;
}

/* Default styles for large screens */
.introduction-section-home h2 {
  font-family: Biryani;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.about-intro-text-colmn-home h3 {
  font-family: Biryani;
  font-size: 24px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3a1907;
}

.about-intro-text-colmn-home p {
  font-family: Biryani;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.read-more-btn-home {
  border-radius: 0px !important;
}

.close-btn-navbar {
  display: none;
}

/* Apply for mobile screens */
@media (max-width: 768px) {
  .close-btn-navbar {
    display: block;
  }
  /* Hide default navbar links on small screens */
  @media (max-width: 991px) {
    .navbar-collapse {
      /* display: none !important; */
    }
  }
  .navbar-gaping-custom {
    padding: 0rem 1rem;
    gap: 0.52rem;
  }

  /* Custom Mobile Sidebar */
  .mobile-nav {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    width: 250px;
    height: 100%;
    background: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .mobile-nav.open {
    left: 0; /* Slide in */
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }

  /* Center nav links */
  .mobile-nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
  }

  .nav-link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
    text-align: left;
    margin-left: 22px;
  }
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    color: black !important;
  }
  .nav-link:hover {
    color: #007bff;
  }

  .responsive-logo {
    width: 72px !important;
    height: 75px !important;
  }
  .hero-section-home h1 {
    font-family: Biryani;
    font-size: 21px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    padding: 0rem 2.3rem;
  }

  .hero-section-home p {
    font-family: Biryani;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 0rem 5rem;
  }
  .contantjoin-section-home {
    padding: 0px 0rem;
  }
}

/* For extra small screens (xs: <576px) */
@media (max-width: 576px) {
  .navbar-header .nav-link {
    color: black;
  }
  .scrolled .navbar-header .nav-link {
    text-align: center;
    color: white !important;
  }
  .logo-colmn {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
  }
  .navbar-bottom-line {
    display: none;
  }
  .navbar-brand {
    margin-left: 10px;
  }

  .introduction-section-home h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .about-intro-text-colmn-home h3 {
    font-size: 18px;
    line-height: 28px;
  }

  .about-intro-text-colmn-home p {
    font-size: 14px;
    line-height: 22px;
  }

  .read-more-btn-home {
    font-size: 14px;
  }
}

/* For small to medium screens (sm: 576px - 768px) */
@media (min-width: 576px) and (max-width: 768px) {
  .introduction-section-home h2 {
    font-size: 24px;
    line-height: 36px;
  }

  .about-intro-text-colmn-home h3 {
    font-size: 20px;
    line-height: 30px;
  }

  .about-intro-text-colmn-home p {
    font-size: 15px;
    line-height: 24px;
  }
}

/* For medium to large screens (md: 768px - 992px) */
@media (min-width: 768px) and (max-width: 992px) {
  .introduction-section-home h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .about-intro-text-colmn-home h3 {
    font-size: 22px;
    line-height: 34px;
  }

  .about-intro-text-colmn-home p {
    font-size: 16px;
    line-height: 26px;
  }
}

/* For extra large screens (xxl: >1200px) */
/* @media (min-width: 1200px) {
    .introduction-section-home h2 {
        font-size: 36px;
        line-height: 48px;
    }

    .about-intro-text-colmn-home h3 {
        font-size: 26px;
        line-height: 42px;
    }

    .about-intro-text-colmn-home p {
        font-size: 18px;
        line-height: 28px;
    }
} */

.career_section {
  background-image: url("../img/careers\ 1.webp");
}

.slider-cards-our-team {
  border-radius: 0px !important;
}

.seconds-internship-program {
  /* padding: 40px; */
}

.expertise-section-row {
  background-image: url("../img/Front\ view\ blurry\ \ lawyer\ working.webp");
  background-size: cover;
  background-position: center;
  color: white;
  /* Text color to contrast the background */
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  /* Ensures pseudo-element stays inside the section */
}

.team-section-row {
  /* background-color: #333; */
  background-image: url("../img/Group\ of\ people\ working\ out\ business\ plan\ in\ an\ office.webp");
  /* Dark background color */
  color: white;
  padding: 50px 0;
  position: relative;
}

.expertise-section-row::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* Covers the entire container */
  height: 100%;
  background: #200f0099;
  /* Background color overlay with opacity */
  z-index: 1;
  /* Ensures the overlay is above the image */
}

.expertise-section-row * {
  position: relative;
  z-index: 2;
  /* Ensures the content is above the overlay */
}

.team-section-row::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* Covers the entire container */
  height: 100%;
  background: #200f0099;
  /* Background color overlay with opacity */
  z-index: 1;
  /* Ensures the overlay is above the image */
}

.team-section-row * {
  position: relative;
  z-index: 2;
  /* Ensures the content is above the overlay */
}

.expertise-section h2 {
  font-family: Biryani;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* why section css */

.why-choose-cards {
  border-radius: 0 !important;
  border: 0.5px solid #000000 !important;
}

.why-us-contaier-home h2 {
  font-family: Biryani;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.why-cards-home {
  height: 100%;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
}

.why-cards-home .images-container-why-section-card {
  height: 25%;
}

.why-cards-home .textsection-wwhy-cards {
  height: 75%;
}

.textsection-wwhy-cards .card-title {
  font-family: Biryani;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3a1907;
}

.whychoose-read-more-btn {
  border-radius: 0px !important;
}

.textsection-wwhy-cards .card-text {
  font-family: Biryani;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .why-us-contaier-home h2 {
    font-size: 24px;
    /* Reduce font size for mobile */
    line-height: 32px;
  }

  .textsection-wwhy-cards .card-title {
    font-size: 20px;
    /* Adjust title size */
    line-height: 24px;
  }

  .textsection-wwhy-cards .card-text {
    font-size: 14px;
    /* Adjust text size */
    line-height: 22px;
  }

  .why-cards-home {
    flex-direction: column;
    /* Stack cards vertically for better spacing */
    align-items: center;
  }

  .images-container-why-section-card img {
    width: 100%;
    /* Make images responsive */
    height: auto;
  }
}

/* Very Small Devices */
@media (max-width: 576px) {
  .why-us-contaier-home h2 {
    font-size: 20px;
    line-height: 28px;
  }

  .textsection-wwhy-cards .card-title {
    font-size: 18px;
    line-height: 22px;
  }

  .textsection-wwhy-cards .card-text {
    font-size: 12px;
    line-height: 18px;
  }

  .why-cards-home {
    padding: 10px;
    /* Add spacing around cards */
  }
}

/* new and insight setion css */

.news-and-insight-section-home h2 {
  font-family: Biryani;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.news-and-insight-section-home p {
  font-family: Biryani;
  font-size: 24px;
  font-weight: 400;
  /* line-height: 89px; */
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3a1907;
}

.news-insight-cards-home {
  border-radius: 0 !important;
  box-shadow: 0px 4px 4px 0px #00000040 !important;
  border: 0.5px solid #000000 !important;
}

.news-insight-cards-home img {
  border-radius: 0 !important;
  width: 100% !important;
  object-fit: none;
}

.news-insight-cards-home .card-text {
  font-family: Biryani;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.read-more-btn-home:hover {
  background-color: #3a1907;
  color: white;
}

.read-more-btn-home {
  color: black;
  border: 0.1px solid black !important;
  align-items: start;
  /* float: left; */
}

.news-insight-cards-home .card-title {
  font-family: Biryani;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3a1907;
}

.news-insight-cards-home .cards-date-news {
  font-family: Biryani;
  font-size: 16px;
  font-weight: 400;
  line-height: 28.24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  /* color: #D9D9D9; */
  z-index: 999;
  opacity: 0.5;
  color: rgba(217, 217, 217, 1);
}

/* news insight section css  */
.career_section h2 {
  font-family: Biryani;
  font-size: 32px;
  font-weight: 700;
  line-height: 41px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  /* padding: 0 4rem; */
}

.career_section p {
  font-family: Biryani;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  /* padding: 0 4rem; */
}

.contantjoin-section-home {
  padding: 0 4rem;
}

.bg-color-boy-img-color {
  background-color: rgba(32, 15, 0, 0.6);
  height: 100%;
}

.know-more-button-home {
  border-radius: 0px !important;
  float: left;
  padding: 0 4rem;
}

.schedule-container-home {
  padding: 3rem 0;
  margin-bottom: 1rem;
}

.schedule-container-home p {
  font-family: Biryani;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: justified;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(58, 25, 7, 1);
}

.schedule-container-home h2 {
  font-family: Biryani;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(58, 25, 7, 1) !important;
  padding: 0 2rem 0 0;
}

.schedulebtn-home {
  background-color: #3a1907 !important;
  border: #3a1907 !important;
  color: #fff;
  border-radius: 0 !important;
}

.our-team-content-first {
  max-width: 800px;
  width: 800px;
}

.team-section-container h1 {
  font-family: Biryani;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}
