.details-pages-law img {
    /* background-image: url('../img/Group\ 8.webp'); */
    background-size: cover;
    background-position: center;
    color: white;
    /* height: 70vh; */
    /* Full screen height */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
}


/* .details-pages-law::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #200F0099;
    z-index: 1;
}

.details-pages-law * {
    position: relative;
    z-index: 2;
} */





.details-pages-law {
    position: relative;
    overflow: hidden;
}

.details-pages-law img {
    width: 100%;
    height: auto;
}

.law-details {
    margin-top: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* Semi-transparent background */
    padding: 2px;
    border-radius: 8px;
    max-width: 90%;
    /* Prevents text from overflowing on smaller screens */
}

.law-details h1 {
    font-family: Biryani;
    font-size: 32px;
    font-weight: 700;
    /* line-height: 44px; */
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    /* margin-bottom: 10px; */
}

.law-details p {
    font-family: Biryani;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .law-details h1 {
        font-size: 1.5rem;
    }

    .law-details p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .law-details h1 {
        font-size: 1.2rem;
    }

    .law-details p {
        font-size: 0.8rem;
    }
}


.list-group-item {
    font-size: 1rem;
    line-height: 1.5;
}

.list-group-item {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
}

@media (max-width: 768px) {
    .list-group-item {
        font-size: 0.9rem;
    }
}