.news-and-insight-container {
    position: relative;
    width: 100%;
    height: auto;
}

.news-and-insight-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.news-and-insight-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    mix-blend-mode: multiply;
    /* Combines the overlay with the image */
    z-index: 1;
}

.news-and-insight-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Ensures content is above the overlay */
    color: white;
    text-align: center;
    padding: 20px;
}












.news-and-insight-content {
    max-width: 800px;
    width: 800px;
}


.news-and-insight-content h1 {
    font-family: Biryani;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

























.news-second-container {
    padding: 3rem 0;
}

.news-welconetext {
    padding-right: 2rem;
}


.news-welconetext h1 {
    font-family: Biryani;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.news-welconetext p {
    font-family: Biryani;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: justify;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;


}

.news-second-container img {
    border-radius: 0 !important;
}


.card-slider .card-description {
    font-family: Biryani;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
}

.card-slider {
    padding: 20px;
    /* background-color: #f9f9f9; */
    /* Optional: Background color for slider area */
}

.slider-title {
    font-family: Biryani;
    font-size: 24px;
    font-weight: 700;
    line-height: 89px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    color: #3A1907;
}

.card-slider .card-title {
    font-family: Biryani;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    /* text-transform: uppercase; */
    color: rgba(58, 25, 7, 1);
}


.card-slider .card-link {
    font-family: Biryani;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #3A1907;
}

.slick-list {
    margin: 0 -15px;
    /* Adjust for the gap between cards */
}

.slick-slide {
    padding: 0 15px;
    /* Gap between cards */
}

.slider-cards-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: #fff;
    border: none !important;
    border-radius: 1px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    height: 100%;
    /* Ensures all cards take full height */
    min-height: 350px;
    /* Set a minimum height to ensure consistency */
    box-sizing: border-box;
    /* Include padding and border in height calculation */
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* border-radius: 8px; */
    margin-bottom: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    /* Fills the remaining space */
    text-align: center;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.card-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    flex-grow: 1;
    /* Pushes the link to the bottom */
}

.card-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    /* align-self: flex-start; */
}

.slick-slide>div {
    display: flex;
    height: 100%;
}


.insight-hightlight-bg {
    margin: 3rem 0;
}

.insight-hightlight-bg h1 {
    background-color: #3A1907;
    font-family: Biryani;
    font-size: 32px;
    font-weight: 600;
    /* line-height: 44px; */
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    text-transform: uppercase;
    align-items: center;
    padding: 0.5rem 0;
}






















.upcoming-webinar-container {
    padding: 3rem 0;

}

.upcoming-webinar-container .heading-name {
    font-family: Biryani;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3A1907;

}

.date-insight {
    font-family: Biryani;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(194, 194, 194, 1);
    opacity: 0.5;
}

.upcoming-webinar-container .upcoming-webinar {
    font-family: Biryani;
    font-size: 24px;
    font-weight: 700;
    line-height: 89px;
    text-transform: uppercase;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3A1907;
}

.upcoming-webinar-text-colmn {
    padding-right: 7rem;
}

.past-seminar-container {
    padding: 3rem 0;
}

.past-seminar-container .past-seminarheading {
    font-family: Biryani;
    font-size: 24px;
    font-weight: 700;
    line-height: 89px;
    text-transform: uppercase;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3A1907;
}

.past-seminar-container .heading-name {
    font-family: Biryani;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3A1907;
    text-transform: capitalize;
}






.subscribe-section {
    padding: 1rem 0px;
    background-color: rgba(240, 240, 240, 1);
}

.subscribe-section {
    margin-bottom: 3rem;


}

.subdcribe-button {
    background-color: #3A1907;
    color: white;
    font-family: Biryani;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.71px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-radius: 0 !important;
}







.letest-container-devlopment .card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}




.letest-container-devlopment img {
    border-radius: 0px;
    max-width: 80%;
}

.letest-development {
    font-family: Biryani;
    font-size: 24px;
    font-weight: 700;
    line-height: 89px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3A1907;
}