.card-columns {
    column-count: 3;
    column-gap: 1.25rem;
}

.card {
    display: inline-block;
    width: 100%;
    margin-bottom: 1.25rem;
    overflow: hidden;
}

@media (max-width: 992px) {
    .card-columns {
        column-count: 2;
    }
}

@media (max-width: 768px) {
    .card-columns {
        column-count: 1;
    }
}