@import '../styles/variables.scss';

.dashboard-layout {
  display: flex;
  min-height: 100vh;
  
  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  &__content {
    flex: 1;
    padding: var(--spacing-lg);
    background-color: var(--gray-100);
    overflow-y: auto;
  }
}